#turf-route-container {
    width: 80%;
    margin: auto;
    height: 20rem;
    border: black 1px solid;
    align-items: center;
    align-content: center;
    border-radius: var(--radius);
}

#turf-card-container {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    align-items: center;
}