#turf-route-container {
    width: 80%;
    margin: auto;
    align-items: center;
    align-content: center;
    border-radius: var(--radius);
    height: auto;
}

#turf-card-container {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    align-items: center;
}