#react_button {
    border: none;
    padding: 10px 10px;
    width: 150px;
    background-color: var(--primary-color);
    color: white;
}

#react_button:focus {
    border: none;
    width: 150px;
    background-color: var(--primary-color);
    color: white;
}

#react_button:active {
    border: none;
    background-color: white;
    color: var(--primary-color);
}