#modal-bg-screen {
    width: 100vw;
    height: 100vh;
    z-index: 40;
    position: fixed;
    inset: 0px;
    filter: blur(1000px);
    background-color: lightgray;
    cursor: pointer;
}

#modal-content {
    border-radius: var(--radius);
    position: fixed;
    inset: 0px;
    z-index: 50;
    background-color: white;
    width: fit-content;
    height: fit-content;
    justify-items: center;
    margin: 80px auto auto auto;
    padding: 16px;
    transition: all 2s ease-in-out;
}

.rightClose {
    margin-left: auto;
}

.leftClose {
    margin-right: auto;
}

#closeBtn {
    color: black;
    margin-left: auto;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: var(--radius);
}

#closeBtn:hover {
    background-color: var(--secondary-color);
}

#main-content {
    width: auto;
    height: auto;
    overflow-y: auto;

}