/* Animation keyframes */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#modal-bg-screen {
  width: 100vw;
  height: 100vh;
  z-index: 40;
  position: fixed;
  inset: 0px;
  filter: blur(1000px);
  background-color: lightgray;
  cursor: pointer;
}

#modal-content {
  border-radius: var(--radius);
  position: fixed;
  inset: 0px;
  z-index: 50;
  background-color: white;
  width: fit-content;
  height: fit-content;
  justify-items: center;
  margin: 80px auto auto auto;
  padding: 16px;
  transform: translateY(30px);
  animation: slideIn 0.6s ease-out forwards;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.rightClose {
  margin-left: auto;
}

.leftClose {
  margin-right: auto;
}

#closeBtn {
  color: black;
  margin-left: auto;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: var(--radius);
}

#closeBtn:hover {
  background-color: var(--secondary-color);
}

#main-content {
  width: auto;
  height: auto;
  overflow-y: auto;
}
