#turf-book-container {
  width: 50rem;
  height: 40rem;
}
#turf-booking-head {
  padding: 16px;
  height: 10rem;
  background-color: var(--secondary-color);
  border-radius: var(--radius);
}
#turf-booking-body{
  justify-items: center;
}
#slot-time{
  display: flex;
  width: fit-content;
}
#turf-booking-form{
  width: 20rem;
  border: solid 1px black;
}

