.turfcard {
  border-radius: var(--radius);
  width: 466px;
  height: 200px;
  border: black 1px solid;
  color: black;
  padding: 16px;
  cursor: pointer;
}

h1 {
  color: black;
  margin: 0px;
}

h6 {
  color: gray;
  padding: auto;
  margin: 0px;
}
.turfcard-address {
  display: flex;
  gap: 4px;
}
#turf-card-img {
  width: 100%;
  height: 150px;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: var(--radius);
  margin: 4px 0px ;
}
